@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed:wght@200&display=swap');


:root {
    --heading-font: 'Bebas Neue', cursive;
    --paragraph-font: 'Saira Condensed', Helvetica, sans-serif;
}

#content {
    font-family: var(--heading-font);
}

body {
    margin: 0;
}

#content {
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 100px auto;
    text-align: center;
    background: #2c4a41;
}

header a {
    margin: auto;
    text-align: center;
    padding: 30px;
}

nav {
    display: flex;
    justify-content: space-around;
}

header nav a:visited, header nav a:link{
    color: #e3b686;
}

header nav a:link {
    text-decoration-line: none;
    font-size: 25px;
}

header nav a:hover {
    background: #689689;
    color: #4a2d24;
}


body {
    background: #689689;
}

#title{
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}

#title img{
    grid-column: 2/3;
    width: 100%;
    margin-top: 40px;
}

#title h1 {
    grid-column: 3/4;
    text-align: center;
    margin: auto;
}

body h1 {
    text-align: center;
}

#questions {
    margin: 5%;
    padding: 5%;
    background: #538c7c;
    border: 10px solid #d9c2a3;
    box-shadow: 5px 5px 10px #6f7364;
    color: #e3b686;
    font-size:larger;
}

.question {
    background:#689689;
    width: auto;
    padding: 10px;
}

.answer {
    font-weight: 100;
}

#last {
    margin-bottom: 0;
    padding-bottom: 0;
}

.answer {
    padding-bottom: 50px;
}


footer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    text-align: center;
    background: #2c4a41;
    padding-right: 40px;
    padding-left: 40px;
}

footer a {
    text-decoration-line: none;
    font-size: 20px;
}

footer nav {
    margin: auto;
    text-align: center;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer nav {
    margin: 30px;
}

footer nav a:visited, footer nav a:link{
    color: #917a61;
}

footer p {
    margin: auto;
}

.social {
    margin: auto;
} 

@media screen and (max-width: 992px) {
    #title {
        display: inline;
    }

    #title img{
        display:block;
        width: 80%;
        margin: 10%;
        margin-bottom: 0;
    }
}